[diff]
  tool = vimdiff
[user]
  name = Claudio Dettoni
  email = cd611@cl.cam.ac.uk
[core]
  pager = less -FXRS -x4
[alias]
  d = difftool
  yolo = !git add -A && git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
